/certs/*
/configs/app/*
/configs/server/*
/configs/nginx/*
/configs/redis/*
!/certs/*-demo-*
!/configs/app/*.example.*
!/configs/server/*.example.*
!/configs/nginx/*.example.*
!/configs/redis/*.example.*
/images
