version: "3.3"

services:
# edumeet
  edumeet:
    env_file: .env
    image: edumeet/edumeet:${TAG}
    depends_on: 
      - redis
    build:
      args:
        - BASEDIR=${BASEDIR}
        - EDUMEET=${EDUMEET}
        - NODE_ENV=${NODE_ENV}
        - SERVER_DEBUG=${SERVER_DEBUG}
      context: ./
    restart: unless-stopped
    volumes:
      - ./configs/server:${BASEDIR}/${EDUMEET}/server/config
      - ./configs/app:${BASEDIR}/${EDUMEET}/server/public/config
      - ./certs:${BASEDIR}/${EDUMEET}/server/certs
      - ./images:${BASEDIR}/${EDUMEET}/server/public/images
      - ./privacy:${BASEDIR}/${EDUMEET}/server/public/static/privacy
      - ./.well-known:${BASEDIR}/${EDUMEET}/server/public/.well-known
    #ports:
    #  - "80:80"
    #  - "443:443"
    #  - "40000-49999:40000-49999/udp"
    network_mode: "host"
    stdin_open: true
    tty: true

  redis:
    image: redis
    network_mode: "host"
    entrypoint: redis-server /usr/local/etc/redis/redis.conf
    restart: unless-stopped
    volumes:
      - ./configs/redis:/usr/local/etc/redis
  ouroboros:
    container_name: ouroboros
    hostname: ouroboros
    image: pyouroboros/ouroboros
    environment:
      - CLEANUP=true
      - INTERVAL=300
      - LOG_LEVEL=info
      - SELF_UPDATE=true
      - IGNORE=mongo influxdb postgres mariadb
      - TZ=Europe/Budapest
      - CRON="* 2 * * *"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
