services:
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
     - ./certbot/conf:/etc/letsencrypt
     - ./certbot/www:/var/www/certbot
    environment:
     - USE_CERTBOT=${USE_CERTBOT}
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do [ \"$USE_CERTBOT\" = \"true\" ] && (echo \"Running single Certbot renewal.\" && certbot renew); sleep 12h & wait $${!}; done;'"
  proxy:
    image: nginx
    restart: unless-stopped
    # user: "101:101"
    # https://man7.org/linux/man-pages/man7/capabilities.7.html
    #cap_drop:
    # - ALL
    #cap_add:
    # - NET_BIND_SERVICE
    volumes:
     - ./configs/proxy:/etc/nginx/templates:ro
     - ./certbot/conf:/etc/letsencrypt:ro
     - ./certbot/www:/var/www/certbot:ro
    depends_on:
      - edumeet-client
      - edumeet-management-server
      - edumeet-room-server
    ports:
     - "80:80"
     - "443:443"
    environment:
     - MAIN_DOMAIN=${MAIN_DOMAIN}
     - MEDIA_DOMAIN=${MEDIA_DOMAIN}
     - LISTEN_IP=${LISTEN_IP}
    command: "/bin/sh -c 'envsubst \"\\$${MAIN_DOMAIN},\\$${LISTEN_IP},\\$${MEDIA_DOMAIN}\" < /etc/nginx/templates/nginx.conf.template > /etc/nginx/nginx.conf && while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    networks:
      - public_net
      - internal_net                  # Only talks to backend
  turn:
      image: coturn/coturn:4.7.0-trixie
      restart: unless-stopped
      network_mode: host
      command: >
        -n
        --min-port=50000
        --max-port=60000
        --realm=${MEDIA_DOMAIN}
        --external-ip=${EXTERNAL_IP}
        --listening-ip=${LISTEN_IP}
        --fingerprint
        --use-auth-secret
        --static-auth-secret=${MEDIA_SECRET}
        --no-tls
        --no-dtls
        --no-multicast-peers
        --no-cli

  edumeet-room-server:
    env_file: .env
    restart: unless-stopped
    volumes:
      - './configs/server:/usr/src/app/config'
      # If running separately and you need certs
      # - ./certs:/usr/src/app/certs
    container_name: edumeet-room-server
    # Comment out whole build-section to build edumeet-room-server and not pulling from docher-hub
    build:
      args:
        - 'GIT_SERVER=${GIT_SERVER}'
        - 'REPOSITORY=${REPOSITORY}'
        - 'EDUMEET_SERVER=${EDUMEET_SERVER}'
        - 'BRANCH_SERVER=${BRANCH_SERVER}'
      context: .
      dockerfile: Dockerfiles/Dockerfile-room-server
    image: '${REPOSITORY}/${EDUMEET_SERVER}:${TAG}'
    networks:
     - internal_net                  # Talk to proxy
  edumeet-tracker:
    env_file: .env
    restart: unless-stopped
    container_name: edumeet-tracker
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile-tracker
    image: '${REPOSITORY}/tracker:${TAG}'
    networks:
      - internal_net     # Internal-only network (shared with proxy)
  edumeet-client:
    # nginx container
    # env_file: .env
    volumes:
      - './configs/app:/app/config:ro'
    container_name: edumeet-client
    build:
      args:
        - 'GIT_SERVER=${GIT_SERVER}'
        - 'REPOSITORY=${REPOSITORY}'
        - 'EDUMEET_CLIENT=${EDUMEET_CLIENT}'
        - 'BRANCH_CLIENT=${BRANCH_CLIENT}'
      context: .
      dockerfile: Dockerfiles/Dockerfile-client
    image: '${REPOSITORY}/${EDUMEET_CLIENT}:${TAG}'
    networks:
     - internal_net                  # Talk to proxy

  edumeet-media-node:
    env_file: .env
    container_name: edumeet-media-node
    build:
      args:
        - 'GIT_SERVER=${GIT_SERVER}'
        - 'REPOSITORY=${REPOSITORY}'
        - 'EDUMEET_MN_SERVER=${EDUMEET_MN_SERVER}'
        - 'BRANCH_MN_SERVER=${BRANCH_MN_SERVER}'
        - 'LISTEN_IP=${LISTEN_IP}'
        - 'MN_EXTRA_PARAMS=${MN_EXTRA_PARAMS}'
      context: .
      dockerfile: Dockerfiles/Dockerfile-media-node
    image: '${REPOSITORY}/${EDUMEET_MN_SERVER}:${TAG}'
    security_opt:
     - no-new-privileges:true
    network_mode: "host"
    command: >
      DEBUG=*
      --listenPort ${LISTEN_PORT}
      --rtcMinPort ${RTC_MIN_PORT}
      --rtcMaxPort ${RTC_MAX_PORT}
      --ip ${LISTEN_IP}
      --secret ${MEDIA_SECRET} 
      --announcedIp ${EXTERNAL_IP}
    # ${MN_EXTRA_PARAMS}

  edumeet-management-server:
    env_file: .env
    container_name: edumeet-management-server
    volumes:
      - './configs/mgmt:/usr/src/app/config'
      - './configs/_mgmt_pwchange/202310300000000_migrate.ts:/usr/src/app/migrations/202310300000000_migrate.ts'
    build:
      args:
        - 'GIT_SERVER=${GIT_SERVER}'
        - 'REPOSITORY=${REPOSITORY}'
        - 'EDUMEET_MGMT_SERVER=${EDUMEET_MGMT_SERVER}'
        - 'BRANCH_MGMT_SERVER=${BRANCH_MGMT_SERVER}'
        - 'NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}'
      context: .
      dockerfile: Dockerfiles/Dockerfile-management-server
    image: '${REPOSITORY}/${EDUMEET_MGMT_SERVER}:${TAG}'
    networks:
      - internal_net                  # Talk to proxy
      - private_net                   # Talk to db
    depends_on:
      - edumeet-db
  keycloak:
    env_file: .env
    container_name: edumeet-keycloak
    volumes:
      - './certs:/opt/keycloak/conf'
    image: 'quay.io/keycloak/keycloak:26.4'
    command:
      - start
    restart: unless-stopped
    networks:
      - internal_net     # Internal-only network (shared with proxy)

  edumeet-db:
    env_file: .env
    image: 'postgres:18.0-alpine'
    container_name: edumeet-db
    restart: always
    volumes:
      - 'edumeet-db:/var/lib/postgresql/data'
    networks:
      - private_net                   # Only backend can access

volumes:
  edumeet-db:
    driver: local
  edumeet-db-data:
    driver: local
  keycloak-data:
    driver: local

networks:
  public_net:
  internal_net:
    driver: bridge
  private_net:
    driver: bridge
    internal: true                    # Isolates it from host access