{
	"listenPort": "8443",
	"listenHost": "0.0.0.0",
"managementService": {
	"host": "http://mgmt:3030",
	"jwtPublicKeys": [
		"-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAwO5DNSj3KSWpC4yFw0pP\nY6cmJPb3H6HzmbehugHMl+l0UFAr+eNeGKgXiKPFEGqWTMJg8mK72FNCLP+u/uBn\n8LhYOghIFUsiO9HZwEUH9rtN2L1nXOYKY/dckEVECMxjVnwsEilp+nV9AKncns7k\n37ERT+AhgmKYsIbZx8HL2KIsLEZhnZahTY2Iyw149hBzNFTwSKW9QssbPAL0RRl4\nydUHNnhMP21ElsQ0McQQae6C0bCejNMpiDFc0MqjzcnI4o0zH/nTIR68dNXTmZBa\nsoqvTsly3T9f3IkoDAd+NiYir4/4u43PlIrDB6RwMjsgjCKOrlLJoZFgcc2xORO5\nJTk8NKXg4AgTezs62izUz/kR90H/TXL87oiBQqIQ0XpDsiy5IPwkcUllv8f/q4oZ\n9wrV7/zdKTiHGI6OaIeNNYH726jTcUAadOzWuiyLAj99ki0ZZimUYwSPbZJ4NbHD\nFMVO/gAkTvuk0PZW1vsrqXdyFkuYk/2lUufrTYyOCDpyHE6GQuraC9qawsF/pL85\njolO9ea5zbVdBLAIThUDMvxp3c8sYuZfsapryiWqpcFokLJ/it6f/M9JFnL5WR0E\nY554QO73Qet5e/xXdTmqbFcqUcL1xQLHlPZsKjocEcPM7rXBLeUGxk7/OUPPgSaE\nM/ijCSi/4aqDk2lPSdzG1RsCAwEAAQ==\n-----END PUBLIC KEY-----\n"
	]
},
	"defaultRoomSettings": {
			"defaultRole": {
					"name": "Default",
					"description": "Default role",
					"permissions": [
							{ "name": "CHANGE_ROOM_LOCK" },
							{ "name": "PROMOTE_PEER" },
							{ "name": "SEND_CHAT" },
							{ "name": "MODERATE_CHAT" },
							{ "name": "SHARE_AUDIO" },
							{ "name": "SHARE_VIDEO" },
							{ "name": "SHARE_SCREEN" },
							{ "name": "SHARE_EXTRA_VIDEO" },
							{ "name": "SHARE_FILE" },
							{ "name": "MODERATE_FILES" },
							{ "name": "MODERATE_ROOM" },
							{ "name": "LOCAL_RECORD_ROOM" },
							{ "name": "CREATE_ROOM" },
							{ "name": "CHANGE_ROOM" }
					]
			}
	},
	"mediaNodes": [{
			"hostname": "${LISTEN_IP}",
			"port": 3000,
			"secret": "${MEDIA_SECRET}",
			"latitude": 63.430481,
			"longitude": 10.394964,
			"turnHostname": "${MEDIA_DOMAIN}",
			"turnports" :  [
				{
					"protocol":"turns",
					"port": 443,
					"transport": "tcp"
				}
			]
	}]
}